body, html{
    height: 100%;
    background-color: rgb(255, 230, 0);
}
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color:rgb(255, 230, 0);
    height: 10%;
    width: 100%;
    left: 0px;
    top: 0px;
}
#header div{
    font-size: 2vw;
}
#r{
    font-size: 40px; 
}
#l{
    font-size: 40px;
}
#head-nav{
    width: 40%;
    display: flex;
    justify-content: space-between
}
#head-nav a{
    font-size: 1vw;
}
#main-info{
    height: 996px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(140, 55, 219);;
    /*background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;*/
    background-size: 100%;
}
#img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-left: 160px;
    margin-top: 120px;
}
#right-info{    
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 160px;
    margin-top: 120px;
    margin-right: 20px;
}
img{
    width: 100%;
}
#img-caption{
    text-align: center;
}
#infobox{
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
}
.infobox caption{
    font-size: 1vw;
    font-weight: bold;
    padding: 0.2em;
    text-align: center;
    color: yellow;
}
#th-head{   
    text-align: center;
    background-color: #1D428A;
    color: #FFFFFF;
    border: 2.5px solid rgb(255, 230, 0);

}
.infobox td, .infobox th{
    vertical-align: top;
    text-align: center;
    width: 100%;
}

th{
    display: table-cell;
}
table{
    width: 15em;
}
p, .info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(255, 230, 0);
    font-size: 1.5vw;
}
h2, h3, li{
    color:rgb(255, 230, 0);
}
a{
    text-decoration: none;
}
#tribute-info{
    height: 960px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    background-color: rgb(140, 55, 219);
    margin-top: 0px;
    flex-direction: column;
}
#tribute-info-header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color:rgb(255, 230, 0);
    color: #1D428A;
    height: 8%;
    width: 100%;
    left: 0px;
    top: 0px;
    text-transform: uppercase;
}
#side-img{
    margin-top: 100px;
}
li{
    line-height: 2em;
}
#career-sec{
    display: flex;
    justify-content: space-between;
}
#info-text{
    width: 85%;
    text-align: justify;
}
#stats{
    height: 960px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    background-color: rgb(140, 55, 219);
    margin-top: 0px;
    flex-direction: column;
}
#stats-header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color:rgb(255, 230, 0);
    color: #1D428A;
    height: 8%;
    width: 100%;
    left: 0px;
    top: 0px;
    text-transform: uppercase;
}
.stats-data{
    table-layout: fixed;
    width: 100%;
    font-size: 1vw;
}
.stats-data td, tr{
    text-align: center;
    color: rgb(245, 229, 83);
}
@media only screen and (max-width:620px){
    #header, #main, #tribute-info, #stats, .infobox{
        width: 100%;
    }
}