body, html{
    height: 100%;
    background-color: rgb(255, 230, 0);
    background-image: url(..//tribute/image/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color:rgb(255, 230, 0);
    height: 10%;
    width: 100%;
    left: 0px;
    top: 0px;
}
#r{
    font-size: 40px; 
}
#l{
    font-size: 40px;
}
#head-nav{
    width: 40%;
    display: flex;
    justify-content: space-between
}
#main-info{
    height: 100%;
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
#img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border: 2px solid yellow;
    margin-left: 160px;
    margin-top: 120px;
}
#right-info{    
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 160px;
    margin-top: 120px;
    margin-right: 20px;
}
img{
    height: 300px;
    width: 250px;
}
#img-caption{
    text-align: center;
}
#infobox{
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
}
#infobox caption{
    font-size: 125%;
    font-weight: bold;
    padding: 0.2em;
    text-align: center;
    color: yellow;
}
#th-head{   
    text-align: center;
    background-color: #1D428A;
    color: #FFFFFF;
    border: 2.5px solid rgb(255, 230, 0);

}
#infobox td, #infobox th{
    vertical-align: top;
    text-align: center;
}

th{
    display: table-cell;
}
table{
    width: 15em;
}
.info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(255, 230, 0);
    font-size: 1.5em;
}
a{
    text-decoration: none;
}